.leftbar{
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 70px;
  top: 55px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}